@media screen and (max-width: 800px) {
    :root{
        --font-size                 : 2.5rem;
        --trim-size                 : 10px;
    }
    .content{
        width                       : 100%;
    }
    .content > .title{
        width                       : 100%;
        display                     : flex;
        justify-content             : center;
    }

    .content > .title > span{
        font-size                   : 1.25rem;
        margin                      : 0 2px;
        animation                   : move 2.5s ease-in-out infinite;
    }
    .content > .cards{
        width                       : 100%;
    }
    .content > .cards > div{
        height                      : 50%;
    }

    .content > .cards > div > .exp{
        font-size                   : 0.75rem;
        letter-spacing              : 1px;
    }
    
    .contact > div > a > img{
        height                      : 2.5vh;
        width                       : 2.5vh;
    }
}
